body {
    font-size: 140%;
    color: #333;
    padding: 10px;
}

* {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
}

h1 {
    padding: 10px;
    font-size: 2.1rem;
    color: black;
    text-align: center;
}

h2 {
    font-size: 1.7rem;
    color: black;
    padding: 10px 0 10px 5px;
    margin-top: 2rem;
}

h3 {
    font-size: 1.35rem;
    color: black;
    padding: 10px 5px;
}

ol li,
ul li {
    margin: 0 0 0 27px;
    padding: 5px 0;
    list-style-type: disc;
}

p {
    padding: 10px;
}

table {
    border-collapse: collapse;
}

td, th {
    padding: 2px 5px;
    vertical-align: top;
    border: 1px solid #ddd;
}

img {
    margin: 0 10px;
    max-width: 95vw;
    max-height: 95vh;
}

hr {
    margin: 5x 0px;
    background: #999;
    height: 2px;
    border: none;
}

/* Table */
.blinds tr *:nth-child(2) {
    min-width: 40px;
}

tr *:nth-child(1),
.blinds tr *:nth-child(5),
.curtains tr *:nth-child(3) {
    text-align: left;
}

.blinds tr *:nth-child(2),
.blinds tr *:nth-child(3),
.blinds tr *:nth-child(4),
.curtains tr *:nth-child(2) {
    text-align: center;
}

td.subheading {
    text-align: left;
    border-bottom: 2px solid #ddd;
    padding-top: 1rem;
    font-weight: bold;
}

/* Bootstrap */

.mt-1 {
    margin-top: 0.25rem;
}

.mt-2 {
    margin-top: 0.5rem;
}

.mt-3 {
    margin-top: 1rem !important;
}

.mt-4 {
    margin-top: 1.5rem ! important;
}

.mt-5 {
    margin-top: 3rem !important;
}